.App {
  text-align: center;
  margin: 0 auto;
  padding: 10px 60px;
  width: 500px;
  min-height: 500px;
  border-radius: 10px;
  background: #77e0ee;;
}

input {
  border-radius: 4px;
  box-shadow: none;
  min-width: 200px;
  border: none;
  height: 30px;
  margin: 10px;
}


button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  box-shadow: none;
  background: #ffffff;
  border-radius: 5px;
}



h4 {
  text-align: left;
  cursor: pointer;
  border: 1px dashed #ffffff;
  display: block;
  padding: 10px;
  border-radius: 5px;
  color: rgb(28, 75, 204);
}

.logs {
  background: #fff;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  margin: 20px 0;
}