.cont {
  display: flex;
}

.coding > div {
   text-align: left;
}

.App {
  width: 500px;
  background: #77e0ee;
}
.App, .coding {
  text-align: center;
  margin: 0 auto;
  padding: 10px 60px;
  min-height: 500px;
  border-radius: 10px;
}

input {
  border-radius: 4px;
  box-shadow: none;
  min-width: 200px;
  border: none;
  height: 30px;
  margin: 10px;
}


button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  box-shadow: none;
  background: #ffffff;
  border-radius: 5px;
}



h4 {
  text-align: left;
  cursor: pointer;
  border: 1px dashed #ffffff;
  display: block;
  padding: 10px;
  border-radius: 5px;
  color: rgb(28, 75, 204);
}

.logs {
  background: #fff;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  margin: 20px 0;
}

.coding {
  padding: 10px 20px;
}

.hljs-keyword {
  color: rgb(233, 110, 227) !important;
}

.hljs-built_in {
  color: rgb(101, 165, 76) !important;
} 

pre {
  /* background: black; */
  /* color: rgb(96, 211, 240); */
  border: 3px dashed rgb(96, 211, 240);
  border-radius: 5px;
  padding: 10px;
}